.wordboard {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    margin: 2em auto;

    &__letter {
        width: 20px;
        height: 25px;
        padding: 1rem 1.25rem;
        color: white;
        font-size: 1.5em;
        text-transform: uppercase;
        background-color: #1e1e1e;
        line-height: 1;
        border-radius: 8px;
        text-align: center;
        border: 2px solid #3a3a3c;

        // 0, 1 --> Nothing
        // 2 --> Yellow background
        // 3 --> Green background

        &.status2 {
            background-color: #c9b458;
            border-color: darken(#c9b458, 5);
        }
        &.status3 {
            background-color: #6aaa64;
            border-color: darken(#6aaa64, 5);
        }
    }
}
