.keyboard {
    width: 100%;
    margin-bottom: 3em;

    &__row {
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: grid;
        place-items: center;
        margin: 0.25em;
        padding: 0.4em;
        min-width: 55px;
        height: 60px;
        font-size: 1.25rem;
        background: rgb(137 137 137);
        color: white;
        border: none;
        border-radius: 6px;
        transition: 100ms ease;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background: rgb(195, 195, 195);
        }

        &--disabled {
            background: rgb(131, 131, 131);

            &:hover {
                cursor: not-allowed;
                background: rgb(131, 131, 131);
            }
        }
    }
}
